        header{
            background-color: #4D110A;
            color: #E6AF00;
            text-align: center;
            max-width: 90%;
            margin: 0   auto;
            border: 5px solid #cf1010;
            padding: 16px;
        }
        main{
            background-color: white;
            color: black;
            display: flex;
            padding: 20px;
        }
        img{
            height: 200px;
            padding: 20px;
            
        }
        .artigo_autor{
            font-weight: bold;
        }